# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
elasticsearch.yml
jvm.options
log4j2.properties
out
gen
